body {
	text-align: center;
	background:url("chalkboard.jpg")no-repeat;

}
h1, h3 {
	font-weight: bold;
	color: #F5DEB3;
	font-family: "Georgia"
}
#slogan {
	font-style: italic;
	font-size: 24px
}
p{
	color: #FFF8DC;
	font-family: "Gill Sans";
}
ul {color: #FFF8DC;
	font-family: "Gill Sans";
}